<section>
    <style>
        .btnLoginSignup{
            float: right;
            margin:1rem;
            padding: 0.4rem 0.6rem;
            border-radius: 15px;
            background-color: #cae4fd;
            font-weight: bold;
            font-size:1rem;
            transform: scale(1);
        }
        .btnLoginSignup:hover{
            transform: scale(1.1)
        }
    </style>
    <input type="button" id="btnLoginSignup" class="btnLoginSignup" value="S'incrire / Se connecter">
</section>
